.containerrr {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 400px;
}
.boxx {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
  line-height: 0;
}
.boxx > img {
  width: 200%;
  height: calc(100% - 1vh);
  object-fit: cover;
  transition: 0.5s;
}
.boxx > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 1vh;
  line-height: 2.6;
}
.boxx:hover {
  flex: 1 1 50%;
}
.boxx:hover > img {
  width: 100%;
  height: 100%;
}
